
.container { 
    margin: 30px auto; 
    width: 300px; 
    background-color: #9387e9; 
    padding: 20px; 
    border-radius: 15px; 
    box-shadow: 10 10 10px rgba(237, 22, 22, 0.1); 
} 

h1 { 
    text-align: center; 
    margin-bottom: 20px; 
    color:#fff;
    
} 

input[type="number"] { 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 

} 

select { 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
} 

p { 
    text-align: center; 
    margin-top: 20px; 
    font-weight: bold; 
    color: aliceblue;
    font-size: 20px; 
    box-sizing: border-box;
} 